h1 {
	color: steelblue;
	font-family: sans-serif;
}
h2 {
	color: steelblue;
	font-family: sans-serif;
}
body {
	background-color: lightsteelblue;
	color: steelblue;
	font-family: sans-serif;
	margin: 12px, 12px, 12px, 12px;
}