h1 {
	color: #1a5276;
	font-family: sans-serif;
}
h2 {
	color: #5499c7;
	font-family: sans-serif;
}
h6 {
	color: red;
	font-family: sans-serif;
}
body {
	background-color: #1c2833;
	color: #eaecee;
	font-family: sans-serif;
}