.box {
	width: 28%;
	border: 2px solid;
	border-color: black;
	background-color: lightblue;
	padding: 5px;
	margin: 10px;
	text-align: left;
	display: flex;
}

.grupo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}