@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
	font-family: 'Inter', sans-serif;
	background-color: #132626;
	color: white;
	text-align: center;
	transition-duration: 1s;
	transition-property: all;
}

#contenedor {
	transition-duration: 1s;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	transition-property: all;

}

section {
	transition-duration: 1s;
	width: 44%;
	padding: 5px;
	margin: 10px 10px 10px 10px;
	display: flex;
	flex-direction: column;
}

nav {
	transition-duration: 1s;
	background-color: darkslategray;
	position: sticky;
	top: 0;
	width: 100%;
}

a {
	transition-duration: 1s;
	color: white;
	text-decoration: none;
}

a:hover {
	transition-duration: 0.5s;
	color:lightgreen;
}

li {
	transition-duration: 1s;
	list-style-type: none;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	background-color:darkslategray;
}

p {
	transition-duration: 1s;
	margin: 10px;
	padding: 5px;
}

@media (max-width: 600px) {
	section {
		transition-duration: 1s;
		font-size:0.9em;
		margin: 10px 10px 10px 10px;
		padding: 5px;
		width: auto;
		position: center;
	}
	#contenedor {
		transition-duration: 1s;
		display: block;
		font-size:0.9em;
	}
}
img {
	transition-duration: 1s;
	display: inline-flex;
	width: 150px;
	margin: 10px;
	padding: 5px;
	float: left;
}